:root {
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.currency-input {
  height: 50px;
  border: 1px solid white;
  background-color: #f2f5f9;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.currency-input:focus {
  border: 1px solid white;
}

@media only screen and (min-width: 900px) {
  .currency-input {
    height: 35px;
    border: 1px solid #c5d0e2;
    background-color: white;
    font-size: 14px;
  }
  .currency-input:focus {
    border: 1px solid #c5d0e2;
  }
}

.home-slider .slick-dots li button:before {
  display: none;
}

.home-slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  bottom: 5px;
}

.home-slider .slick-dots button {
  background-color: #344054;
  height: 5px;
  width: 10px;
  -webkit-border-radius: 9999px;
     -moz-border-radius: 9999px;
          border-radius: 9999px;
  margin: 5px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 0;
}

@media only screen and (min-width: 800px) {
  .home-slider .slick-dots button {
    width: 20px;
  }
}

.home-slider .slick-dots button:focus {
  outline: none;
}

.home-slider .slick-dots .slick-active button {
  background: #043bfe;
}

.home-slider .slick-track{
  display: flex;
}

.home-slider .slick-slide{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}